from conan import ConanFile
from conan.tools.cmake import CMake, CMakeToolchain, CMakeDeps, cmake_layout
import os

class {{ project.package_name }}(ConanFile):
    name = "{{ project.name }}"
    version = "{{ project.version }}"
    author = "{{ project.author }}"
    description = "{{ project.description }}"

    settings = ("os", "arch", "compiler", "build_type")
    {% if project.type == "Static Library" or project.type == "Shared Library" %}
    exports_sources = ("CMakeLists.txt", "cmake/*", "include/*", "src/*", "tests/*")
    {% elif project.type == "Executable" %}
    exports_sources = ("CMakeLists.txt", "cmake/*", "src/*", "tests/*")
    {% elif project.type == "Interface Library" %}
    exports_sources = ("CMakeLists.txt", "cmake/*", "include/*", "tests/*")
    {% endif %}

    options = {
        {% if project.type == "Static Library" or project.type == "Shared Library" %}
        "build_shared_libs": [True, False],
        {% endif %}
        "build_tests": [True, False]
    }

    default_options = {
        {% if project.type == "Static Library" %}
        "build_shared_libs": False,
        {% elif project.type == "Shared Library" %}
        "build_shared_libs": True,
        {% endif %}
        "build_tests": False
    }

    def build_requirements(self) -> None:
        self.tool_requires("cmake/[>={{ cmake.version }}]")
        if bool(self.options.build_tests) or self.settings.build_type == "Debug":
            self.test_requires("gtest/1.14.0")

    def layout(self) -> None:
        cmake_layout(self)

    def generate(self) -> None:
        toolchain = CMakeToolchain(self)
        {% if project.type == "Static Library" or project.type == "Shared Library" %}
        toolchain.variables["BUILD_SHARED_LIBS"] = bool(self.options.build_shared_libs)
        {% endif %}
        if self.settings.build_type == "Debug":
            toolchain.variables["BUILD_TESTS"] = True
        else:
            toolchain.variables["BUILD_TESTS"] = bool(self.options.build_tests)
        toolchain.generate()
        CMakeDeps(self).generate()

    def build(self) -> None:
        cmake = CMake(self)
        cmake.configure()
        cmake.build()

    def package(self) -> None:
        CMake(self).install()

    def package_info(self) -> None:
        self.cpp_info.set_property("cmake_target_name", "{{ project.namespace }}::{{ project.name }}")
        {% if project.type == "Static Library" or project.type == "Shared Library" %}
        self.cpp_info.libs = ["{{ project.name }}"]
        if not bool(self.options.build_shared_libs):
            self.cpp_info.defines = ["{{ project.name|to_screaming_case }}_STATIC_DEFINE"]
        {% elif project.type == "Interface Library" %}
        self.cpp_info.bindirs = []
        self.cpp_info.libdirs = []
        {% elif project.type == "Executable" %}
        self.cpp_info.includedirs = []
        self.cpp_info.libdirs = []
        {% endif %}
