// Google Test Includes
#include <gtest/gtest.h>
#include <gmock/gmock.h>

{% if project.type != "Executable" %}
// Local Includes
#include <{{ project.namespace }}/{{ project.name }}.hpp>
{% endif %}

namespace {{ project.name }}_testing {

} // namespace {{ project.name }}_testing
