#ifndef EXPORT_HPP
#define EXPORT_HPP

#ifndef {{ project.name|to_screaming_case }}_STATIC_DEFINE
    #include <{{ project.name }}/export_shared.hpp>
#else
    #include <{{ project.name }}/export_static.hpp>
#endif // #ifndef {{ project.name|to_screaming_case }}_STATIC_DEFINE

#endif // #ifndef EXPORT_HPP
