#ifndef {{ project.name|to_screaming_case }}_H
#define {{ project.name|to_screaming_case }}_H

#ifdef __cplusplus
extern "C" {
#endif // #ifdef __cplusplus

#ifdef __cplusplus
}
#endif // #ifdef __cplusplus

#endif // #ifndef {{ project.name|to_screaming_case }}_H
