#-----------------------------------------------------------------------------------------------------------------------
# Target: test_package
# Type: Executable
# Dependencies: {{ project.namespace }}::{{ project.name }}
#-----------------------------------------------------------------------------------------------------------------------
# Target definition
add_executable(test_package)

# Target sources
target_sources(test_package
    PRIVATE
        ${CMAKE_CURRENT_SOURCE_DIR}/main.c
)

# Target dependencies
target_link_libraries(test_package
    PRIVATE
        {{ project.namespace }}::{{ project.name }}
)
