{%- if project.type == "Executable" -%}
// ISO C Includes
#include <cstddef>

int main() {
    return 0;
}
{% elif project.type == "Static Library" or project.type == "Shared Library" %}
// Local Includes
#include <{{ project.namespace }}/{{ project.name }}.hpp>
{% endif %}
